:root{
    background-color: grey;
}

body>div{
    border: 1px solid white;
}

.main>div{
    border: 1px solid white;
}

.header{
    display: flex;
    justify-content: center;
}


.main{
    display: flex;
    height: 100vh;
    
}

.input-col{
    flex: 1;
    display: grid;
    grid-template-rows: repeat(4, 1fr) 3fr;
}

    .input-col>div{
        border: 1px solid white;
    }

.data-col{
    flex: 3;
}

.data-head{
    display: flex;
    
}

    .data-head>div{
        border: 1px solid white;
        flex: 1;
        height: 5vh;
    }

    

.data-main{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

    .data{
        border: 1px solid white;
    }